@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;
    
}
body{
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.container .card{
    position: relative;
    border-radius: 10px;
}
.container .card:hover{
    overflow: hidden;
}
.container .card .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
/*face1*/
.container .card .face.face1{
    position: relative;
    background:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.container .card:hover .face.face1{
    background: linear-gradient( 45deg, #000, rgb(1, 1, 48), #000);
    transform: translateY(0px);
}
.container .card .face.face1 .content{
    opacity: 0.2;
    transition: .5s;
}
.container .card .face.face1 .content img{
    width: 1500px;
    background-color: #fff;
    border-radius: 10px;
}
/*hover-opacity on card*/
.container .card:hover .face.face1 .content{
    opacity: 1;
}
.container .card .face.face1 .content img{
    
    max-width: 100px;
}
.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

/*end of face1*/

/*face2*/
.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 15px 50px rgb(1, 1, 48);
    transform: translateY(-100px);
}
.container .card:hover .face.face2{
    transform: translateY(0);
}
.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    color: rgba(1,1,48);
}
.container .card .face.face2 .content a{
    margin: 15px 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    padding: 5px;
    background: linear-gradient( 45deg, #000, rgb(1, 1, 48), #000);
    border: 1px solid #333;
}
.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

/*end of face2*/
footer{
    position: fixed;
    bottom: 0;
    color: #fff;
}
/*media query*/

@media only screen and (max-width: 450px){
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .container .card .face{
        width: 100%;
        height: 200px;
        transition: 0.5s;
    }
}



@media only screen and (min-width: 768px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    .container .card .face{
        width: 100%;
        margin: 10px auto;
    }
    .container .card .face2{
        height: 100%;
    }
}


/*end of media query*/